on: [push]

jobs:
  build_pdf_with_docker:
    runs-on: ubuntu-latest
    name: Build PDF with Docker
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Build PDF
      id: build_pdf
      run: make docker_build_pdf
    - uses: actions/upload-artifact@v2
      with:
        name: Artifacts
        path: |
          mazhe/Inter_*.pdf
